html, body {
    margin: 5px;
    padding: 0;
}

.container {
    border: 1px solid black;
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hint {
    font-style: italic;
}
