<html>

<head>
    <link rel="stylesheet" href="/static/static/command_palette.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/scroll-into-view-if-needed/umd/scroll-into-view-if-needed.min.js"></script>
    <script src="https://rawgit.com/farzher/fuzzysort/master/fuzzysort.js"></script>
</head>

<body>

    <div id="app">
        <div class="container">
            <span v-if="!seen" class="hint">
                Use Ctrl + Space to open the Command Palette
            </span>
            <span v-if="seen">
                <input ref="search"
                    style="color:#d7dae0;font-size:14;background-color:#202634;border-radius: 4px;width:100%;height:60px;border: 2px solid #181a1f; padding-bottom: 20px;"
                    placeholder="search for a command ..." :value="value" @input="updateValue($event.target.value)"
                    type="text" @keydown.enter='enter' @keydown.down='down' @keydown.up='up'>
                <div class="dropdown-menu" style="width:100%">
                    <div class="action-item" :ref="'action' + suggestion.id" v-for="(suggestion, index) in matches"
                        v-bind:class="{'active': isActive(index)}" @click="suggestionClick(index)">
                        <div class="suggestion-description" v-html="suggestion.rendered"></div>
                        <div class="suggestion-keybindings">
                            <kbd class="suggestion-keybinding" v-for="key in suggestion.keyBinding">{{ key }}</kbd>
                        </div>
                    </div>
                </div>
            </span>
        </div>
    </div>


    <script src="/static/static/command_palette.js"></script>
</body>

</html>