html,
body {
    background-color: #ece8e1;
    margin: 5px;
    padding: 0;
}

.container {
    background-color: rgb(40, 82, 125, 0.1);
    color: black;
    border: 1px solid black;
    min-width: 500px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dropdown-menu {
    display: flex;
    flex-direction: column;
    max-height: 100px;
    overflow-y: scroll;
    -ms-overflow-style: none;
}

.dropdown-menu::-webkit-scrollbar {
    display: none;
}

.dropdown-menu .active {
    background-color: lightcoral;
}

.hint {
    font-style: italic;
}