<!DOCTYPE html>
<html>
<head>
  <title>Cl&eacute;ment Miao</title>
  <meta name='description' content="Cl&eacute;ment Miao's Personal Website">
  <meta name='keywords' content='San Francisco,New York,Cadre,software,swe,Dropbox,Clement,Miao,Paris,engineer,rust,machine learning,cities'>
  <meta name='author' content='Cl&eacute;ment Miao'>
  <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68479605-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script src="animation.js" defer></script>
  <link href='/static//static/main.css' rel='stylesheet' type='text/css'>
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet'>
  <link href='/static/static/icon.png' rel='icon' type='image/png'>
  <link href='/static/static/favicon.svg' rel='icon' type='image/svg+xml' sizes='any'/>
</head>
<body style='background-color:#ece8e1'>
  <div class='container'>
    <div id='left'>
      <div class='title'>
        <h1>
          Cl&eacute;ment Miao
        </h1>
      </div>
      <div class='subtitle'>
          senior software engineer @ <a href='https://www.cadre.com' target='_blank' style='color:black'>Cadre</a>
          <br>
          previously engineer @ <a href='https://www.dropbox.com/about' target='_blank' style='color:black'>Dropbox</a> <a href='https://www.dropbox.com/about' target='_blank'><i class='fa fa-dropbox'></i></a>
          <br>
          living in NYC, U.S.A.
      </div>
      <div class='nav'>
        clementmiao@gmail.com
        |
        <a href='https://blog.clementmiao.com' style='text-decoration: none'>blog</a>
      </div>
      <div class='content'>
      </div>
      <div class='icons'>
        <a class='linkedin' href='http://www.linkedin.com/in/clementmiao' target='_blank'><i class='fa fa-linkedin' aria-hidden='true'></i></a>
        <a class='github' href='http://www.github.com/clementmiao' target='_blank'><i class='fa fa-github' aria-hidden='true'></i></a>
        <a class='pinterest' href='http://www.pinterest.com/clementmiao' target='_blank'><i class='fa fa-pinterest' aria-hidden='true'></i></a>
        <a class='medium' href='https://medium.com/@clementmiao' target='_blank'><i class='fa fa-medium' aria-hidden='true'></i></a>
      </div>
    </div>
  </div>
</body>
</html>
